h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(122, 42, 58);
    text-align: center;
}

#onclick {
    height: 250px;
    width: 500px;
    left: 50px;
    top: 100px;  
    position: absolute;
}
