h1{
    font-family: 'Times New Roman', Times, serif;
    color: hotpink;
    text-align: center;
}

#light {
    height: 100px;
    width: 200px;
    left: 50px;
    top: 1000px;  
    position: absolute;
}
